daemon=300                              # check every 300 seconds
syslog=yes                              # log update msgs to syslog
#mail=root                              # mail all msgs to root
#mail-failure=root          # mail failed update msgs to root
pid=/var/run/ddclient/ddclient.pid      # record PID in file.
ssl=yes                                 # use ssl-support.  Works with


usev4=webv4, web=ipv4.icanhazip.com #, web-skip='IP Address' # found after IP Address
#usev6=webv6, web=ipv6.icanhazip.com #, web-skip='IP Address' # found after IP Address


##
## CloudFlare (www.cloudflare.com)
##
protocol=cloudflare
zone=mymicrogrid.net
ttl=1
password={{ CLOUDFLARE_API_TOKEN }}
mymicrogrid.net
